html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #06262C;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  height: 40px;
  position: relative;
  margin-bottom: 35px;
}

h1 {
  margin: 0;
}

.github-logo {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
}

.spinning {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.pull-request {
  margin: 0 1.9em 1.9em 1.9em;
  font-size: 2.1em;
}

.repository {
  display: inline-block;
  margin-right: 0.5em;
}

a.pr-title {
    color: white;
}

.meta {
  font-size: 0.8em;
}
