html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #06262C;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  height: 40px;
  position: relative;
  margin-bottom: 30px;
}

h1 {
  margin: 0;
}

.highlight {
  color: #FAA137;
}

.github-logo {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
}

.spinning {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.repository {
    border: 1px solid white;
    font-size: 2.1em;
    margin: 10px 0 0 10px;
    padding: 10px;
    width: 300px;
    height: 225px;
    display: flex;
    flex-direction: column;
}

.outdated {
    background-color: #ec2c2c;
}

.team-name {
    font-size: 0.65em;
    color: rgba(255, 255, 255, 0.57);
}

.repository-name {
    margin-bottom: auto;
}

.pr-count {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    align-self: flex-end;
    width: 100%;
}

a.pr-title {
    color: white;
}

.meta {
  font-size: 0.8em;
}
